<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Articles</h3>
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Title</th>
                            <th class="border-top-0">Status</th>
                            <th class="border-top-0">Reads</th>
                            <th class="border-top-0">Posted At</th>
                            <th class="border-top-0"></th>
                            <th class="border-top-0"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Elon Musk destroys crypto in a week</td>
                            <td><span class="badge bg-success rounded">visible</span></td>
                            <td>2,343,25</td>
                            <td>May 18, 2021</td>
                            <td>
                                <a href="https://www.wrappixel.com/templates/ampleadmin/"class="btn d-grid btn-success text-white" target="_blank">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="https://www.wrappixel.com/templates/ampleadmin/"class="btn d-grid btn-danger text-white" target="_blank">
                                    <i class="fas fa-window-close"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>